body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 40px;
    background: linear-gradient(90deg, #3b82f6, #9333ea);
}

section {
    padding: 20px;
    margin: 20px;
    background: #1e293b;
    border-radius: 10px;
}

h2 {
    color: #38bdf8;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}